ol li {
    float: left;


}

ol li a{
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px 0 0;
    text-decoration: none;
}
























*{
    margin: 0;
    padding: 0;

}












ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(111, 185, 237); 
}


ol li:hover{
    background-color: rgb(228, 226, 226);
}

#banner img{
width: 100%;



}














